{% extends 'base.html'%}
{% block content%}
<div class="container-fluid col-8 mt-5 rounded" style="background-color:#6C68E8;">
    <div class="row ">
        <div class="col-12 col-sm-12 wow fadeInLeft col-md-4 col-lg-4 col-xl-4 text-center" >
            <img src="static/img/oi.jpg" class="rounded-circle mb-3 mt-3 border border-light" alt="perfil" style="width: 200px; height: 200px;">
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 mt-5 text-left wow fadeInDown" >
            <div class="text-light">
                <p>Eu tenho 25 anos, atualmente sou residente
                    de São José dos campos, eu acredito que
                    resiliência é a chave para conquistar qualquer
                    objetivo, atualmente desejo expandir meus
                    conhecimentos e experiencias, acredito
                    que o melhor ambiente de trabalho é aquele
                    onde eu possa exercer todas as minhas
                    capacidades em harmonia com as pessoas
                    ao redor. 
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-light rounded wow fadeInRight border mt-5 pt-3 pb-3 col-10 text-center"  style="background-color:#6C68E8;">
    <h2>Esse é o jeito Ninja de ser!!!</h2>
    <p>A principal motivação em iniciar este projeto está sobre a dificuldade de localizar conteúdo específico para resoluções de determinados exercícios, assim como, um espaço focado para monitores de matérias de programação, onde os mesmos não possuem um local exclusivo para adicionar conteúdo para os alunos, dessa forma, os monitores podem avaliar conteúdos pertinentes de determinada matéria e adicionar na plataforma para que os alunos possam visualizar aquelas informações e terem um melhor entendimento de determinado assunto.
        As plataformas como URI e Ucoder fornecem exercícios de maratonas de programação e um sistema que recebe a resolução para verificar se a resposta é válida baseado no modelo de maratona, as plataformas também fornecem um fórum para conversar sobre dificuldades encontradas, no entanto, o foco do fórum é para esclarecer dúvidas especificas das resoluções e não de fato sobre o caminho necessário para chegar em determinada resolução.
        Se situar no conteúdo de algoritmo de uma linguagem de programação pode ser extenso, inicialmente isso pode gerar uma dificuldade e criar um desencorajamento para o aluno em prosseguir neste caminho.
        Um exemplo prático e simples: existe um algoritmo para resolver determinado problema, no entanto, o aluno não possui o conhecimento da existência do mesmo e não teve um direcionamento eficiente, dessa forma o aluno irá perder horas para realizar a resolução do exercício de uma forma ‘’alternativa’’ e isso tornará o exercício bem mais complexo, dessa forma, o aluno se sentirá frustrado em não conseguir encontrar a resolução adequada.
    </p>
   
</div>
{% endblock %}