{% extends 'base.html' %}


{% block content %}
<div class="container-fluid text-center">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div class="flashes ">
      {% for message in messages %}
      <div class="text-center  container-fluid col-12"style="; background-color: ; width:300px; ">{{ message }}</div>
      {% endfor %}
      </div>
  {% endif %}
  {% endwith %}
<a class="ad2 btn" style="color:#ffff; background-color: #6C68E8;" type="button" href="/adm/list/posts/post/new">Criar novo conteudo</a>

</div>

  <div class="container-fluid mt-5 text-center">
  <div class="row">
  {% for list in posts %}
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 ">
    <div class="card mt-3">
      <div class="card-header text-left text-light" style="background-color:#6C68E8 ;">
        <h4>Criado por:{{list.author.username}}</h4>
        <h5>Contato: {{list.author.contato}}</h5> 
        Linguagem: {{ list.languageKey }}
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ list.title }}</h3>
        <h5 class="card-title">{{ list.subtitle }}</h5>

        <p class="card-text">{{ list.text }}</p>
        <p>{{ list.exercise }}</p>
        
        
        <a class="btn border ad2" style="color:#ffff; background-color: #6C68E8;" href="{{ url_for('postView', post_id=list.id) }}">Editar conteudo</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
</div>

{% endblock %}